@model BLL.DTO.TraineeDTO

@{
    ViewData["Title"] = "Create trainee";
}
<h3>@ViewData["Message"]</h3>

<form method="post" asp-action="Create" asp-controller="Project">
    <label asp-for="Project.Name">Название проекта:</label>
    <input type="text" asp-for="Project.Name" />
    <div>
        <input type="submit" value="Save" />
    </div>
</form>

<form method="post" asp-action="Create" asp-controller="Trainee" asp-antiforgery="true">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Surname"></label>
            <input type ="text" asp-for="Surname" />
            <span asp-validation-for="Surname"></span>
        </div>
        <div>
            <label asp-for="Gender"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<DAL.Models.Gender>()"></select>
            <span asp-validation-for="Gender"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Phone"></label>
            <input type="text" asp-for="Phone" />
            <span asp-validation-for="Phone"></span>
        </div>
        <div>
            <label asp-for="BirthDay"></label>
            <input type="date" asp-for="BirthDay" data-provide="datepicker" data-date-autoclose="true"/>
            <span asp-validation-for="BirthDay"></span>
        </div>
        <div>
            <label asp-for="Direction"></label>
            <select asp-for="Direction" asp-items="ViewBag.Directions"></select>
            <span asp-validation-for="Direction"></span>
        </div>
        <div>
            <label asp-for="Project"></label>
            <select asp-for="Project" asp-items="ViewBag.Projects"></select>
            <span asp-validation-for="Project"></span>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>

    </script>
}